# **An치lisis Exploratorio de datos**

In [1]:
# Cargar las librerias necesarias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

**Cargar conjunto de datos**

In [2]:
df_amazon_delivery = pd.read_csv('../data/processed/amazon_delivery_limpios.csv')
df_amazon_delivery.head()

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Weather,Traffic,Vehicle,Area,Delivery_Time,Category,Order_Time,Pickup_Time,Order_Date
0,ialx566343618,37,4.9,22.745049,75.892471,22.765049,75.912471,Sunny,High,motorcycle,Urban,120,Clothing,11:30:00,11:45:00,2022-03-19
1,akqg208421122,34,4.5,12.913041,77.683237,13.043041,77.813237,Stormy,Jam,scooter,Metropolitian,165,Electronics,19:45:00,19:50:00,2022-03-25
2,njpu434582536,23,4.4,12.914264,77.678400,12.924264,77.688400,Sandstorms,Low,motorcycle,Urban,130,Sports,08:30:00,08:45:00,2022-03-19
3,rjto796129700,38,4.7,11.003669,76.976494,11.053669,77.026494,Sunny,Medium,motorcycle,Metropolitian,105,Cosmetics,18:00:00,18:10:00,2022-04-05
4,zguw716275638,32,4.6,12.972793,80.249982,13.012793,80.289982,Cloudy,High,scooter,Metropolitian,150,Toys,13:30:00,13:45:00,2022-03-26

**Exploraci칩n del conjuto de datos**

In [3]:
filas, columnas = df_amazon_delivery.shape
print(f'El conjunto de datos amazon_delivery_limpio.csv contiene:\nfilas:{filas:>10}\ncolumnas:{columnas:>7}')

El conjunto de datos amazon_delivery_limpio.csv contiene:
filas:     43644
columnas:     16

*Tipos de datos de cada columna*

In [4]:
df_amazon_delivery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43644 entries, 0 to 43643
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order_ID         43644 non-null  object
 1   Agent_Age        43644 non-null  int64
 2   Agent_Rating     43644 non-null  float64
 3   Store_Latitude   43644 non-null  float64
 4   Store_Longitude  43644 non-null  float64
 5   Drop_Latitude    43644 non-null  float64
 6   Drop_Longitude   43644 non-null  float64
 7   Weather          43644 non-null  object
 8   Traffic          43644 non-null  object
 9   Vehicle          43644 non-null  object
 10  Area             43644 non-null  object
 11  Delivery_Time    43644 non-null  int64
 12  Category         43644 non-null  object
 13  Order_Time       43644 non-null  object
 14  Pickup_Time      43644 non-null  object
 15  Order_Date       43644 non-null  object
dtypes: float64(5), int64(2), object(9)
memory usage: 5.3+ MB

Las columnas **Order_Time**, **Pickup_Time** se tienen que cambiar el tipo de object a time y **Order_Date** de object a datetime.

Las dem치s columna son correctos los tipos de datos.

**Transformaci칩n del tipo de datos de *Order_Time* y *Pickup_Time*.**

In [5]:
# Order_Time
df_amazon_delivery['Order_Time'] = pd.to_datetime(df_amazon_delivery['Order_Time'], format='%H:%M:%S', errors='coerce')
print('Tipo de Order_Time despu칠s de la primera conversi칩n', df_amazon_delivery['Order_Time'].dtype)

df_amazon_delivery['Order_Time'] = df_amazon_delivery['Order_Time'].dt.time

print('\nColumna con solo la hora')
print(df_amazon_delivery['Order_Time'].head(3))

print('Tipo de Order_Time despui칠s de extraer solo la hora', df_amazon_delivery['Order_Time'].dtype)

Tipo de Order_Time despu칠s de la primera conversi칩n datetime64[ns]

Columna con solo la hora
0    11:30:00
1    19:45:00
2    08:30:00
Name: Order_Time, dtype: object
Tipo de Order_Time despui칠s de extraer solo la hora object

In [13]:
# Pickup_Time
df_amazon_delivery['Pickup_Time'] = pd.to_datetime(df_amazon_delivery['Pickup_Time'], format='%H:%M:%S', errors='coerce')
print('Tipo de Pickup_Time despu칠s de la primera conversi칩n', df_amazon_delivery['Pickup_Time'].dtype)

df_amazon_delivery['Pickup_Time'] = df_amazon_delivery['Pickup_Time'].dt.time

print('\nColumna con solo la hora')
print(df_amazon_delivery['Pickup_Time'].head(3))

print('Tipode Pickup_Time despu칠s de extraer solo la hora', df_amazon_delivery['Pickup_Time'].dtype)

Tipo de Pickup_Time despu칠s de la primera conversi칩n datetime64[ns]

Columna con solo la hora
0    11:45:00
1    19:50:00
2    08:45:00
Name: Pickup_Time, dtype: object
Tipode Pickup_Time despu칠s de extraer solo la hora object

In [ ]:
# Order_Date
df_amazon_delivery['Order_Date'] = pd.to_datetime(df_amazon_delivery['Order_Date'], format='%Y-%m-%d', errors='coerce')
print('Tipo de Order_Date despu칠s de la primera conversion:', df_amazon_delivery['Order_Date'].dtype)

print('\nColumna con solo la fehca')
print(df_amazon_delivery['Order_Date'].head(3))

Tipo de Order_Date despu칠s de la primera conversion: datetime64[ns]

Columna con solo la fehca
0   2022-03-19
1   2022-03-25
2   2022-03-19
Name: Order_Date, dtype: datetime64[ns]

Tipo de Order_Date despu칠s de extraer solo la fecha datetime64[ns]